@import url('reset.min.css');
@import url('space-grotesk.min.css');

:root {
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
}

body {
  min-height: 100vh;
  background-color: #afafaf;
  font-family: 'Space Grotesk', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 640px) {
  .container {
    max-width: var(--sm);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: var(--md);
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: var(--lg);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: var(--xl);
  }
}
